script(src='/jquery/dist/jquery.contextMenu.js')
script(src='/jquery/dist/jquery.ui.position.js')
script(src='/javascript/adminPage/rightClick.js')
script(src='/javascript/adminPage/adminPage.js')
script(src='/javascript/adminPage/ContentRender.js')
script(src='/javascript/adminPage/serverControl.js')
script(src='/javascript/adminPage/alertDialog.js')
