doctype html
html
  head
    title FileManager-BlackBirds
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(content='Admin Dashboard' name='description')
    meta(content='fileManager' name='blackBird')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='shortcut icon' href='/images/logo.png')

    //assets template
    link(href='/assets/plugins/animate/animate.css' rel='stylesheet' type='text/css')
    link(href='/assets/css/bootstrap-material-design.min.css' rel='stylesheet' type='text/css')
    link(href='/assets/css/icons.css' rel='stylesheet' type='text/css')
    link(href='/assets/css/style.css' rel='stylesheet' type='text/css')
    link(href='/stylesheet/style.css' rel='stylesheet' type='text/css')

    //jquery
    script(src="/jquery/dist/jquery.js")
    //contextmenu
    block content
