div#User
    div#userShow.card.m-b-30
        table.table.table-hover
            thead
                tr.d-flex.col-md-12.row.waves-effect
                    th.col-md-1 #
                    th.col-md-4 Name
                    th.col-md-4 Path
                    th.col-md-1 Size
                    th.col-md-2 Time Create
            tbody#user-row
div#File
    div#fileShow.card.m-b-30
        table.table.table-hover
            thead
                tr.d-flex.col-md-12.row.waves-effect
                    th.col-md-1 #
                    th.col-md-4 Name
                    th.col-md-4 Path
                    th.col-md-1 Size
                    th.col-md-2 Time Create
            tbody#file-row
div#Admin
    div#adminShow.card.m-b-30
        table.table.table-hover
            thead
                tr.d-flex.col-md-12.row.waves-effect
                    th.col-md-1 #
                    th.col-md-4 Name
                    th.col-md-4 Path
                    th.col-md-1 Size
                    th.col-md-2 Time Create
            tbody#admin-row
