
// Top Bar Start
div.topbar
    nav.navbar-custom
        #searchForm.dropdown.notification-list.list-inline-item.nav-pro-img
            div.dropdown.list-inline-item.hide-phone.app-search
                div(role='search')
                    .form-group.pt-1
                        input#Search.form-control(type='text' placeholder='Search..' onkeyup="CRGetSearchPage()")
                        a(href='javascript:CRGetSearchPage();')
                            i.fa.fa-search
            #searchDropdown.dropdown-menu.dropdown-arrow.dropdown-menu-lg(x-placement='bottom-start' style='position: absolute; top: 36px; left: 0px; will-change: top, left;')
                .dropdown-divider
        ul.list-inline.float-right.mb-0.mr-3

            li.list-inline-item.dropdown.notification-list
                a.nav-link.dropdown-toggle.arrow-none.waves-effect.nav-user(data-toggle='dropdown' href='#' role='button' aria-haspopup='false' aria-expanded='false')
                    img.rounded-circle.img-thumbnail(src='/assets/images/users/avatar-1.jpg' alt='user')
                .dropdown-menu.dropdown-menu-right.profile-dropdown
                    // item
                    .dropdown-item.noti-title
                        //h5=folderData.userInfo.userName
                    a.dropdown-item(href='javascript:ALNotWorkFunction();')
                        i.mdi.mdi-account-circle.m-r-5.text-muted
                        |  Profile
                    .dropdown-divider
                    a.dropdown-item(href='javascript:logout()')
                        i.mdi.mdi-logout.m-r-5.text-muted
                        |  Logout
        ul.list-inline.menu-left.mb-0
            li.float-left
                button.button-menu-mobile.open-left.waves-light.waves-effect
                    i.mdi.mdi-menu
        .clearfix
        //include pathBar