body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.menu-nav-active{
  background-color: lightgrey !important;
}
.btn-path{
  font-size: 20px;
}
#pageContent{
  width: 100%;
  min-height: 500px;
}
#folderPathDropdown a i{
  font-size: 25px;
  padding-right: 5px;
}.tag-content{
  padding: 10px;
  font-size: large;
}
#FileFolder{
    min-height: -webkit-fill-available;
}
.fileshow-topbar{
    margin: 5px;
    font-size: 30px;
    color: lightgrey;
}
.fileshow-topbar span:hover{
    background-color: #3f3f40;
    color: lightgrey;
    cursor: pointer;
}
/*#myFolder a>span:first-of-type{*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/
.file-name{

}
.file-show-icon{
float: right;
}
#searchDropdown{
    white-space: nowrap;
    overflow: auto;
    text-overflow: clip;
    margin-top: 15px;
    max-height: 500px;
}
#file-content{
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15000; /* Sit on top */
    padding-top: 3px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.txt-file>p{
    margin: 10px;
}
#caption {
    font-size: 30px;
    display: block;
    width: 80%;
}
.small-box #caption {
    font-size: 15px;
}
.small-box.file-content#file-content{
    height: auto;!important;
    float: right;
    max-height: 300px;
    max-width: 240px;
    bottom: 0px;!important;
}
.small-box>.modal-content{
    margin-top: 10px;!important;

}
.small-box>.fileshow-topbar{
    font-size: 20px;!important;
    margin: 0px;!important;
}
#caption{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal-content{

    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
/*.close {*/
    /*position: absolute;*/
    /*top: 3px;*/
    /*right: 35px;*/
    /*color: #f1f1f1;*/
    /*font-size: 40px;*/
    /*font-weight: bold;*/
    /*transition: 0.3s;*/
/*}*/
#fileBox{
    background: transparent ;
    position: absolute;
    height: 85%;
    width: 100%;
}
.modal-content.txt-file{
    background-color: whitesmoke;!important;
    overflow: auto;
    min-height: 500px;
}
.modal-content>audio, .modal-content>video{
    width: 100%;
    margin-bottom: 50px;
    background-color: transparent ;
}

.small-box audio, .small-box video{
    width: 100%;
    margin-bottom: 0px;!important;
}
.small-box>.modal-content{
    max-height: 100%;!important;
    max-width: 100%;!important;
}
.modal-content {
    z-index: 20000;
    max-height: 80%;
    max-width: 80%;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /*background-repeat:no-repeat;*/
    background-size:cover;
    background-color: transparent;
}




#list-row tr td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list-row tr{
    cursor: pointer;
}
#list-row tr td.mdi{
    font-size: 25px;
}
/*.close:hover,*/
/*.close:focus {*/
    /*color: #bbb;*/
    /*text-decoration: none;*/
    /*cursor: pointer;*/
/*}*/

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.love,.love i{
    color: hotpink;
}

.alert-upload{
    font-size: 20px;
    text-align: center;
    background-color: #3f3f40;
    width: 200px;
    height: 30px;
}


#CreateAdmin{
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15000; /* Sit on top */
    padding-top: 3px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
#CreateAdminForm{
    margin: auto;
}
.card{
    background-color: white;
}
#formOutside{
    position: absolute;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
}
.on-cut{
    color: rgba(0,0,0,0.3);!important; /* Black w/ opacity */
}
a.love.on-cut{
    color: rgb(0,0,0);
    color: rgba(0,0,0,0.3);!important; /* Black w/ opacity */
}
/*!* *!*/
/*.panWrapper {position:fixed; width:100%; height:100%; overflow:hidden; background-color:rgba(0,0,0,0.9); z-index:9999; left:0; top:0; display:none; cursor:move;}*/
/*.panWrapper * {-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;user-select: none;}*/

/*.panWrapper a.controls {background-size:100%; width:32px; height:32px; display:block; position:absolute; left:50%; z-index:2; bottom:30px; cursor:pointer;}*/
/*.panWrapper a.controls.in{background-image:url('../images/zoomIn.png'); margin-left:-30px;}*/
/*.panWrapper a.controls.out{background-image:url('../images/zoomOut.png'); margin-left:30px;}*/
/*.panWrapper a.controls.close{background-image:url('../images/close.png'); left:auto; right:30px; top:30px;}*/
/*.panWrapper .loading{z-index:3; position:absolute; left:50%; top:50%; margin:-50px 0 0 -50px; width:100px; height:100px; background-image:url(../images/loading.gif); background-repeat:no-repeat; background-size:100%; display:block;}*/