extends header

block content
    div(class="fm_header row")
          div(class="fm_header_left col-sm-6")
          div(class="fm_header_left col-sm-6")
              div(class="row")
                  label(class="col-sm-4 fm_login_label") Email hoặc điện thoại:
                  label(class="col-sm-4 fm_login_label") Mật khẩu:
              div(class="row fm_login_row")
                  input(id="user" class=" col-sm-4 fm_login_input form-control" type="text" placeholder="Enter email" )
                  input(id="pass" class=" col-sm-4 fm_login_input form-control" type="password" placeholder="Enter password")
                  div(class="col-sm-3")
                      button(id="login_btn" class="btn btn-primary") ĐĂNG NHẬP
              div(class="row")
                  div(class="col-sm-4")
                  div(class="col-sm-4") Quên mật khẩu?
    div(class="fm_body row")
          div(class="fm_left_box col-sm-6") left
          div(class="fm_file_layout col-sm-6")
              h1 ĐĂNG KÝ
              h4 Luôn miễn phí
              div(class="row")
                  input(id="fm_register_first_name" class="col-sm-5 form-control" placeholder="Họ")
                  input(id="fm_register_last_name" class="col-sm-5 form-control" placeholder="Tên")
              input(id="fm_register_email" class="row col-sm-6 form-control" placeholder="Email: ...@gmail.com")
              input(id="fm_register_phone_number" class="row col-sm-6 form-control" placeholder="Số di động")
              input(id="fm_register_password" class="row col-sm-6 form-control" placeholder="Mật khẩu")
              h4 Ngày sinh
              form(id="fm-register_dateOfBirth" class="")
                  select(id="fm_register_day" name="Ngày" class="custom-select-sm")
                    option(selected) Ngày
                  select(id="fm_register_month" name="Tháng" class="custom-select-sm")
                      option(selected) Tháng
                  select(id="fm_register_year" name="Năm" class="custom-select-sm")
                      option(selected) Năm
                  div(class="row")
                      div(class="custom-control custom-radio custom-control-inline")
                          input(id="sex-male" class="custom-control-input" type="radio")
                          label(class="custom-control-label" for="sex-male") Nam
                      div(class="custom-control custom-radio custom-control-inline")
                          input(id="sex-female" class="custom-control-input" type="radio")
                          label(class="custom-control-label" for="sex-female") Nữ








