script(src='/jquery/dist/jquery.contextMenu.js')
script(src='/jquery/dist/jquery.ui.position.js')
script(src='/javascript/filePage/rightClick.js')
script(src='/javascript/filePage/filePage.js')
script(src='/javascript/filePage/ContentRender.js')
script(src='/javascript/filePage/serverControl.js')
script(src='/javascript/filePage/alertDialog.js')
script(src='/javascript/filePage/fileContent.js')
