extends ../headerAndScript/header

block content
    body.fixed-left
        include adminPageElement/formCreateAdmin
        div#preloader
            div#status
                div.spinner
        // Begin page
        div#wrapper
            // ========== Left Sidebar Start ==========
            include adminPageElement/leftSideMenu
                // end sidebarinner
            // Left Sidebar End
            // Start right Content here
            div.content-page
                // Start content
                div#idFolder.content
                    include adminPageElement/topBar.pug
                    // Top Bar End
                    div.page-content-wrapper
                        div#pageContent.container-fluid
                            include adminPageElement/pathBar
                            include adminPageElement/manageContent
                footer.footer
                    | &copy; 2018 FilesManager by BlackBirds.
            // End Right content here
        // END wrapper
        // jQuery
        include  ../headerAndScript/script

        //script.
            var folderData = !{JSON.stringify(folderData)};
        link(href='/jquery/dist/jquery.contextMenu.css' rel='stylesheet' type='text/css')
        include adminPageElement/adminPageScript


