extends ../headerAndScript/header

block content
    body.accountbg
        div.wrapper-page
            div.display-table
                div.display-table-cell
                    div.container
                        div.row
                            div.col-md-6
                                img.img-fluid(src='/images/logo.png' alt='')
                            div#login-form.col-md-6
                                div.card
                                    div.card-body
                                        div.text-center.pt-3
                                            a(href='index.html')
                                                img(src='/images/logoText.png' alt='logo' height='50')
                                        div.px-3.pb-3
                                            form.form-horizontal.m-t-20.mb-0(action="javascript:loginClick()")
                                                div.form-group.row
                                                    div.col-12
                                                        input#login-id.form-control(type='text' required='' placeholder='Username')
                                                div.form-group.row
                                                    div.col-12
                                                        input#login-pass.form-control(type='password' required='' placeholder='Password')
                                                div.form-group.row
                                                    div.col-12
                                                        div.custom-control.custom-checkbox
                                                            input#rememberCheck.custom-control-input(type='checkbox' value="rememberPass")
                                                            label.custom-control-label(for='rememberCheck') Remember me
                                                div.form-group.text-right.row.m-t-20
                                                    div.col-12
                                                        button.btn.btn-primary.btn-raised.btn-block.waves-effect.waves-light() Log In


        // jQuery

        include ../headerAndScript/script

        script(src='/javascript/adminPage/loginPage.js')







