extends ../headerAndScript/header

block content
    div.accountbg
    div.wrapper-page
        div.display-table
            div.display-table-cell
                div.container
                    div.row
                        div.col-md-6
                            img.img-fluid(src='/images/logo.png' alt='')
                        div#register-form.col-md-6()
                            div.card
                                div.card-body
                                    div.text-center.pt-3
                                        a(href='index.html')
                                            img(src='images/logoText.png' alt='logo' height='50')
                                    div.pb-3.px-3
                                        form.form-horizontal.m-t-20.mb-0(action="javascript:registerClick()")
                                            div.form-group.row
                                                div.col-12
                                                    input#register-email.form-control(type='email' required='' placeholder='Email' )
                                            div.form-group.row
                                                div.col-12
                                                    input#register-id.form-control(type='text' required='' placeholder='Username' )
                                            div.form-group.row
                                                div.col-12
                                                    input#register-pass.form-control(type='password' required='' placeholder='Password' )
                                            div.form-group.row
                                                div.col-12
                                                    input#confirm-pass.form-control(type='password' required='' placeholder='ConfirmPassword' )
                                            div.form-group.row
                                                div.col-12
                                                    div.custom-control.custom-checkbox
                                                        input#acceptCheck.custom-control-input(type='checkbox' value="check")
                                                        label.custom-control-label.font-weight-normal(for='acceptCheck')
                                                            | I accept
                                                            a.text-muted(href='#TermsAndConditions')  Terms and Conditions
                                            div.form-group.text-center.row.m-t-20
                                                div.col-12
                                                    button#register-button.btn.btn-raised.btn-primary.btn-block.waves-effect.waves-light Register
                                            div.form-group.m-t-10.mb-0.row
                                                div.col-12.m-t-20.text-center
                                                    a#have-account.text-muted(href="/") Already have account?




    // jQuery
    include  ../headerAndScript/script

    // App js
    script(src='/javascript/indexjs/registerPage.js')








