extends ../headerAndScript/header

block content
    div.accountbg
    div.wrapper-page
        div.display-table
            div.display-table-cell
                div.container
                    div.row
                        div.col-md-6
                            img.img-fluid(src='/images/logo.png' alt='')
                        div#register-form.col-md-6()
                            div.card
                                div.card-body
                                    div.text-center.pt-3
                                        a(href='index.html')
                                            img(src='images/logoText.png' alt='logo' height='50')
                                    div.p-3
                                        form.form-horizontal.mb-0(action="javascript:resendconfirmmail()")
                                            div.alert.alert-info.mt-3.alert-dismissible
                                                button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
                                                | Enter your
                                                b Email
                                                |  and instructions will be sent to you!
                                            div.form-group.row
                                                div.col-12
                                                    input#email.form-control(type='email' required='' placeholder='Email')
                                            div.form-group.text-center.row.m-t-20
                                                div.col-12
                                                    button.btn.btn-raised.btn-primary.btn-block.waves-effect.waves-light() Send Confirm Email




    // jQuery
    include   ../headerAndScript/script
    script(src='/javascript/indexjs/resendconfirmmail.js')








