div#file-content.file-content(style="display:none")
    div.fileshow-topbar.row
        div.col-lg-6
            span#caption.waves-effect.file-name
                i.mdi.mdi-file
                |
        div.float-right.col-lg-6
            span#close.waves-effect.file-show-icon
                i.mdi.mdi-close
                |
            span#size.waves-effect.file-show-icon
                i.mdi.mdi-fullscreen-exit
                |
            span#download.waves-effect.file-show-icon
                i.mdi.mdi-download
                |
            span#share.waves-effect.file-show-icon
                i.mdi.mdi-share
    div#fileBox
    img

