div#file-content.file-content(style="display:none")
    div.fileshow-topbar.row
        div.col-lg-6
            span#caption.file-name
                i.mdi.mdi-file
                |
        div.float-right.col-lg-6
            span#downLoad.file-show-icon
                i.mdi.mdi-download
                |
            span#share.file-show-icon
                i.mdi.mdi-share
    div#fileBox
    img

