div.left.side-menu
    button.button-menu-mobile.button-menu-mobile-topbar.open-left.waves-effect(type='button' onclick="")
        i.mdi.mdi-close
    // LOGO
    div.topbar-left
        div.text-center
            a.logo(href='/')
                img.logo-large(src='/images/logoText.png' alt='' height="100")
    div#sidebar-main.sidebar-inner.slimscrollleft
        div#sidebar-menu
            ul
                li#myFolder.has_sub(idFolder=folderData.userInfo.RootID)
                    a.waves-effect
                        i.mdi.mdi-folder-account
                        span  My folder
                        span.float-right
                            i.mdi
                    ul.list-unstyled

                li#fileShare.has_sub
                    a.waves-effect(href='javascript:SCGetShareWithMeData();')
                        i.mdi.mdi-table
                        span  Share with me
                li#fileInLove.has_sub
                    a.waves-effect(href='javascript:SCGetOnLoveData();')
                        i.mdi.mdi-heart
                        span  In love

                li#fileOpenRecent.has_sub
                    a.waves-effect(href='javascript:SCGetFileOpenRecent();')
                        i.mdi.mdi-av-timer
                        span  Open recently


                li.menu-title Extra
                li#trash.has_sub
                    a.waves-effect(href='javascript:SCGetTrashData();')
                        i.mdi.mdi-delete
                        span  Trash

        div.clearfix